{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": "error",
    "indent": ["error", 2],
    "no-var": "error",
    "prefer-const": "error",
    "no-undef": "off",
    "no-console": "off"
  }
}
